.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-card {
  width: 26rem;
  max-width: 95vw;
  align-items: center;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

mat-card-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

mat-card-footer {
  text-align: center;
}

// Register link
mat-card-footer a {
  color: #1976d2;
  text-decoration: none;
}

mat-card-footer a:hover {
  text-decoration: underline;
}

