.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
  // Background name -> Polka
  // scr: https://www.magicpattern.design/tools/css-backgrounds
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.03125rem, #e5e5f7 0.03125rem); // 0.5 px converted to rem
  background-size: 0.625rem 0.625rem;
}

.login-card {
  width: 26rem;
  max-width: 95vw;
  align-items: center;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

mat-card-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

mat-card-footer {
  text-align: center;
}

// Register link
mat-card-footer a {
  color: #1976d2;
  text-decoration: none;
}

mat-card-footer a:hover {
  text-decoration: underline;
}

